<div class="container">
    <form id="contact" action="" onsubmit="return false;">
        <h3>Supervisores</h3>
        <h4>Registrar solo numeros de celular Colombianos validos.</h4>
        <fieldset>
            <input placeholder="telefono celular" type="text" name="mobile" id="mobile" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="submitform" onclick="guardarSupervisor();" data-submit="...Enviando">Registrar</button>
        </fieldset>
    </form>
    <br/>
    <div class="marco">
        <!--<div class="alert alert-danger" role="alert">
            Error conectando con la base de datos
        </div>
        <div class="alert alert-warning" role="alert">
            No se encontraron supervisores registrados en la base de datos.
        </div>
        <div>
            <h3>Lista de Supervisores:</h3>
        </div>-->
        <table id="watchermen_list" class="table-fill">
            <thead>
            <tr>
                <th>Telefono</th>
                <th>SMS</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>